{% extends "base/base.html" %}
{% load staticfiles %}
{% block content%}
Want to add a note about a book!
{% for item in fav %}
<div class="fav_list">
    
    <div class="fav_item"> Book Title: {{ item.title }}</div>
    <div class="fav_item"> Author: {{ item.author }}</div>
    <div class="fav_item">Description: {{ item.description}}</div>
</div>
    {%endfor%}

    
{% endblock%}