{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h1>Sign up</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>

  <div>
    <h2>Already signed up</h2>
    <li><a href="/login">Sign in</a></li>
  </div>
  
{% endblock %}
