<!DOCTYPE html>
<html lang="en">
{%load staticfiles %}
    <head>
        {% block head %}{%endblock%}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="Application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%block title%}{%endblock%}</title>

        <link href="{% static 'css/templatemo_style.css'%}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


        {% block css %}
        {% endblock %}

   <!--  <link rel="shortcut icon" href='{% static "images/favicon.ico"%}'> !-->


    </head>

    <body>
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="{% url 'release' %}" class="current">Home</a></li>
            <li><a href="subpage.html">Search</a></li>
            <li><a href="subpage.html">Books</a></li>
            <li><a href="subpage.html">New Releases</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'post_view' %}">Blog</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="/logout">Sign out</a></li>
                <li><a href="{%url 'view_favourite_books' %}">Favourites</a></li>
            {% else %}
             <li><a href="{% url 'signup' %}">Sign up/ Sign in</a></li>

            {% endif %}
    	</ul>
    </div> <!-- end of menu -->

    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $80
        	</p>
			<a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>


        <div id="templatemo_new_books">
        	<ul>
                <li>Python Cookbook</li>
                <li>C Programming Fundamentals</li>
            </ul>
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <!-- end of header -->

    <div id="templatemo_content">

        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="#">Data Structure</a></li>
                    <li><a href="#">Artificial Intelligence</a></li>
                    <li><a href="#">Software Engineering</a></li>
                    <li><a href="#">Algorithm</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Structured Programming Language</a></li>
                    <li><a href="#">Discrete Maths</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Neural Network</a></li>
            	</ul>
            </div>
			<div class="templatemo_content_left_section">
            	<h1>Bestsellers</h1>
                <ul>
                    <li><a href="#">Vestibulum ullamcorper</a></li>
                    <li><a href="#">Maece nas metus</a></li>
                    <li><a href="#">In sed risus ac feli</a></li>
                    <li><a href="#">Praesent mattis varius</a></li>
                    <li><a href="#">Maece nas metus</a></li>
                    <li><a href="#">In sed risus ac feli</a></li>
                    <li><a href="#">Flash Templates</a></li>
                    <li><a href="#">CSS Templates</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="http://www.photovaco.com" target="_parent">Free Photos</a></li>
            	</ul>
            </div>

            <div class="templatemo_content_left_section">
                <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
            </div>
       
        </div> <!-- end of content left -->
     
        <div id="templatemo_content_right">
        	{% block content %}

            {% endblock %}

        <a class="ad-img" href="subpage.html"><img src='{%static "images/templatemo_ads.jpg" %}' alt="ads" /></a>
        </div> <!-- end of content right -->

    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    {% block pagination %}
    {%endblock%}
        <div id="templatemo_footer">

               <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
            Copyright © 2018 <a href="#"><strong>Company</strong></a>
            </div>
<!-- end of footer -->
            </div>
<!-- end of container -->



        <script src="{%static 'js/jquery.js'%}"></script>
        <script src="{%static 'js/animate.js'%}"></script>
        {% block js %} {% endblock %} 

    </body>
</html>
