{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Favourite{% endblock %}

{% block content %}

  <h1>My favourite books</h1>
{% for item in cart_list %}
<div class="templatemo_product_box">
    <h2>{{ item.book.title }}  <span>(by {{ item.book.author }})</span></h2>
    <img src='{{ item.book.Image }}' alt="image" height="150px" width="100px"/>
</div>
{%endfor%}


{% endblock %}

{% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if cart_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ cart_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ cart_list.number }} of {{ cart_list.paginator.num_pages }}
            </span>

            {% if cart_list.has_next %}
                <a href="?page={{ cart_list.next_page_number }}">next</a>
                <a href="?page={{ cart_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {%endblock %}

