{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}BookStore{% endblock %}
{% block content %}

    {% for book in books %}

        <div class="templatemo_product_box">
            <h1>{{ book.title }}  <span>(by {{ book.author }})</span></h1>
                <img src='{{ book.Image }}' alt="image" height="150px" width="100px"/>
            <div class="product_info">
                <p>{{ book.description }}</p>
                <h3>{{ book.price }}</h3>
                <div class="buy_now_button"><a href="{{ book.Book_Link }}">Buy Now</a></div>
                <div class="detail_button"><a href="{{ book.Image }}">Detail</a></div>
                {% if request.user.is_authenticated %}
                <div class="fav_button">
                    <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{ book.id }}" >
                        <button type="submit">Add to Favourite</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% endblock %}

    

    {% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ books.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ books.number }} of {{ books.paginator.num_pages }}
            </span>

            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">next</a>
                <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {%endblock %}

