

{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Our Blog{% endblock %}
 
{% block content %}
   <h2 class="page-header">Recents Posts</h2>
    {% for post in posts %}
       <h3><a href="#">{{ post.title }}</a></h3>
        <p class="small">Published {{ post.publish }} by {{ post.author }}</p>
        <p>{{ post.body|truncatewords:25|linebreaks }}</p>
    {% endfor %}
    
{% endblock %}
